:root {
    --main-title-color: #fff;
    --second-title-color: #303030;
    --main-btn-color: #fff;
    --second-btn-color: #303030;
    --accent-color: #ff6c00;
}

body {
    font-family: 'open sans', sans-serif;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.section-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
}

.pre-title {
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15/11);
    text-transform: uppercase;
}

.btn {
    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
}

/*--------------HEADER------------------*/

.header {
    background-color: grey;
}

.header-link, .header-tel {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em; /*letter-spacing/font-size*/
    color: #FFFFFF;
}

.header-link:hover, .header-link:focus, .header-tel:hover, .header-tel:focus {
    color: var(--accent-color);
}

.header-btn {
    color: var(--main-btn-color);
}

/*--------------HERO------------------*/

.hero {
    background-color: #3d3e45;
}

.hero-link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--second-title-color);
}

.hero-link:hover,
.hero-link:focus {
    color: var(--accent-color);
}

.hero-pre-title {
    color: rgba(157, 164, 189, 0.6);
}

.hero-title {
    color: var(--main-title-color);
}

.hero-after-title {
    font-size: 18px;
    line-height: calc(30/18);
    letter-spacing: 0.02em;
    color: #9DA4BD;
}

.service {
    
}

/*--------------ABOUT------------------*/

.about {}

.about-list {}

.about-title {
    color: var(--second-title-color);
}

.about-pre-title {
    color: #303030;
}

.about-after-title {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: #555555;
}

.about-text {
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    color: #555555;
}

.about-btn {
    color: var(--second-btn-color);
}

/*--------------PRICES------------------*/

.prices {
    background-color: #303030;
}

.prices-pre-title {
    color: rgba(157, 164, 189, 0.6);
}

.prices-title {
    color: var(--main-title-color);
}

.pices-list {}

.prices-item {}

.prices-list-text {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: #9DA4BD;
}

.prices-btn {
    color: var(--main-btn-color);
}

/*--------------BENEFITS------------------*/

.benefits {}

.benefits-list {}

.benefits-item > span {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.05em;
    color: #303030;
}

.benefits-item-text {
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15/11);
    text-align: center;
    color: #303030;
}

.benefits-pre-title {
    color: #303030;
}

.benefits-title {
    color: var(--second-title-color);
}

.benefits-after-title {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: #555555;
}

/*--------------BARBERS------------------*/

.barbers-pre-title {
    color: #303030;
}

.barbers-title {
    color: var(--second-title-color);
}

.barbers-list {}

.barbers-item {}

.barbers-item-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.39;
    text-align: center;
    letter-spacing: 0.02em;
    color: #303030;
}

.barbers-item-text {
    font-size: 14px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

/*--------------GALLERY------------------*/

.gallery-pre-title {
    color: #303030;
}

.gallery-list {}

.gallery-item {}

/*--------------ONLINE------------------*/

.online {}

.online-title {
    color: var(--main-title-color);
}

/*--------------CONTACTS------------------*/

.contacts {}

.contacts-title {
    color: var(--main-title-color);
}

.contacts-address {}

.contact-map-link {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: #9DA4BD;
}

.contacts-list {}

.contact-item {}

.contacts-link {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: #9DA4BD;
}

.contacts-subtitle {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    color: #FFFFFF;
}

.contacts-schedule {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: #9DA4BD;
}